.addFont{
    font-family: 'Playfair Display', serif;
}

.mainBody{
    display: flex; 
    justify-content: center;
}

li{
    text-align: left;
    display: block;
}

.hidden{
    display: none; 
}


