.addFont{
    font-family: 'Playfair Display', serif;
}

.mainBody{
    display: flex; 
    justify-content: center;
}

li{
    text-align: left;
    display: block;
}

.hidden{
    display: none; 
}

footer{
    height: 0vh;
}

.redBorder{
    border: 2px solid #990000 !important
}

#footerRef{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}